In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('data/raw/job_data.csv', encoding='latin1', usecols=['job_skills', 'job_summary', 'job_title'])

In [4]:
df.head()

,job_skills,job_summary,job_title
0,"Bar Supervision, Team Leadership, Beverage Sal...","About Us\nAt Aldar Hospitality, we're not just...",Bar Supervisor - Saadiyat Beach Club
1,"Mechanical engineering, HVAC equipment mainten...",Job Description\nWe are currently seeking for ...,Duty Engineer
2,"Mechanical Engineering, NFPA Code, UAE Fire an...",Company Description\nLet's SOCOTEC your potent...,EAU - Fire & Life Safety Engineer (M/F)
3,"Painting, Plumbing, Electrical wiring, Pool an...","Company Description\nContemporary, modern and ...",Electrician
4,"Entertainment Management, Program Creation, Ev...",Welcome to Apt Resources! We are currently see...,Entertainment Manager - F&B

In [5]:
df['job_skills'] = df['job_skills'].str.lower()
df['job_summary'] = df['job_summary'].str.lower().str.replace('\n', ' ')
df['job_title'] = df['job_title'].str.lower()

In [6]:
df.head()

,job_skills,job_summary,job_title
0,"bar supervision, team leadership, beverage sal...","about us at aldar hospitality, we're not just ...",bar supervisor - saadiyat beach club
1,"mechanical engineering, hvac equipment mainten...",job description we are currently seeking for p...,duty engineer
2,"mechanical engineering, nfpa code, uae fire an...",company description let's socotec your potenti...,eau - fire & life safety engineer (m/f)
3,"painting, plumbing, electrical wiring, pool an...","company description contemporary, modern and e...",electrician
4,"entertainment management, program creation, ev...",welcome to apt resources! we are currently see...,entertainment manager - f&b

In [7]:
print("Empty job_skills: ", df['job_skills'].isnull().sum())
print("Empty job_summary: ", df['job_summary'].isnull().sum())
print("Empty job_title: ", df['job_title'].isnull().sum())

Empty job_skills:  0
Empty job_summary:  0
Empty job_title:  0

In [ ]:
df.dropna(subset=['job_skills'])

In [1]:
df.to_csv('data/processed/job_data_processed.csv', index=False)

NameError: name 'df' is not defined

In [9]:
df.shape

(1710419, 3)

In [11]:
chunksize = 215000
chunk = 1
for i in range(0, len(df), chunksize):
    df.iloc[i:i+chunksize].to_csv('data/processed/job_data_'+str(chunk)+'.csv', index=False)
    print(f'Chunk {chunk} saved to file.')
    chunk += 1

Chunk 1 saved to file.
Chunk 2 saved to file.
Chunk 3 saved to file.
Chunk 4 saved to file.
Chunk 5 saved to file.
Chunk 6 saved to file.
Chunk 7 saved to file.
Chunk 8 saved to file.